.vagrant

# Exclude terraform state files and plans
.terraform/
.terraform.lock.hcl
terraform-plugin-proxmox.log
terraform.tfstate
terraform.tfstate*backup
*.plan

.travis.yml
*.swp
*.un~
.DS_Store
*.retry
inv
.terraform.lock.hcl
*/.terraform/*
terraform-plugin-proxmox.log
*.tfstate
*.tfstate.*backup
