#===========================
# Excludes for ansible
#===========================
*.retry
.inv.*.yml
site_data
site_data.yml
vaultpw
.vaultpw
#===========================
# Excludes for vagrant
#===========================
.vagrant
#===========================
# Excludes for terraform
#===========================
secrets.tfvars
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform-plugin-proxmox.log
terraform.tfstate
terraform.tfstate*backup
*.plan
*/.terraform/*
*.tfstate
*.tfstate.*backup
#===========================
# Other files
#===========================
.travis.yml
*.swp
*.un~
.DS_Store
*.log
