<VirtualHost *:80>
        ServerName {{ local_repo.cname }}.{{ site_data.domain }}
        ServerAdmin {{ local_repo.admin }}@{{ site_data.domain }}

        DocumentRoot {{ local_repo.repo_root }}
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ local_repo.repo_root }}>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Require all granted
        </Directory>

        ErrorLog /var/log/apache2/repo-error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog /var/log/apache2/repo-access.log combined
        ServerSignature On

</VirtualHost>
