AllowTcpForwarding no
AuthorizedKeysFile	.ssh/authorized_keys
GatewayPorts no
PasswordAuthentication no
PermitRootLogin no
Subsystem	sftp	internal-sftp
X11Forwarding no
Include /etc/ssh/sshd_config.d/*.conf
