" UI tweaks
colorscheme blue
set number
set relativenumber
set cursorline
syntax on
set hlsearch
set incsearch
" set statusline
set showcmd
set t_Co=256
set laststatus=2
set showmode
set title
set colorcolumn=81
" Indenting
inoremap # X#
set smartindent
set tabstop=2
set shiftwidth=2
set shiftround
set smarttab
set expandtab
set nowrap
" Folding
set foldmethod=syntax
set foldcolumn=4
nnoremap <space> za
vnoremap <space> zf
" Python folding override
setlocal foldmethod=indent
" Visual line wrapping (not adding LF to text in buffer)
"set wrap
"set linebreak
"set showbreak
" Scrolling
" Start scrolling slightly before the cursor reaches the edge
set scrolloff=3
set sidescrolloff=5
" Scroll horizontally a character at a time
set sidescroll=1
" Disable arrow keys (hardcore)
map  <up>    <nop>
imap <up>    <nop>
map  <down>  <nop>
imap <down>  <nop>
map  <left>  <nop>
imap <left>  <nop>
map  <right> <nop>
imap <right> <nop>
" OMG, persistent undo! How did I not know about this!
set undofile
" With both of these on, searches with no capitals are case insensitive, while
" searches with a capital characters are case sensitive.
set smartcase
set ignorecase
" Watch https://www.youtube.com/watch?v=wlR5gYd6um0 to see cool plugin demo
"
" Commentary - https://github.com/tpope/vim-commentary
autocmd FileType python setlocal commentstring=#\ %s
" Add vertical to the defaults for using :diffsplit <file> from within vim
set diffopt=filler,vertical,foldcolumn:4
" Colors
colorscheme blue
highlight clear CursorColumn
highlight clear CursorLine
highlight clear CursorLineNr
highlight CursorLineNr ctermbg=cyan ctermfg=15
highlight CursorLine ctermbg=cyan ctermfg=15
highlight clear CursorColumn CursorLine
